.App {
  text-align: center;
}

.App-header {
  background-color: rgb(45, 5, 45);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
}

main {
  background-color: blueviolet;
  margin: 0;
  height: max-content;
}

.Main-body {
  display: flex;
  justify-content: space-evenly;
}

.SearchResult {
  background-color: purple;
}

.search-input {
  height: 35px;
  width: 200px;
}

.tracks {
  list-style-type: none;
  padding: 5px;
}

.track {
  display: flex;
  justify-content: space-between;
}

.track-name {
  display: flex;
  justify-content: flex-start;
}

.track-button {
  height: 25px;
  align-self: center;
}

.track-button-div {
  display: flex;
}

.results {
  display: flex;
  margin: 5px;
  justify-content: center;
}

.Playlist {
  display: flex;
  background-color: purple;
}

.form {
  padding-top: 5px;
  padding-bottom: 15px;
}

.playlist-name {
  height: 50px;
  font-size: large;
  text-align: center;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: black;
  margin-bottom: 15px;
}

main {
    min-height: 100dvh;
}

input[type='submit'],
button {
  cursor: pointer;
  border-radius: 15px;
}

button[type=submit] {
  cursor: pointer;
  width: 160px;
  padding: 5px;
  border-radius: 55px;
  border-width: 0px;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}

.search-button {
  font-size: 25px;
  display: flex;
  justify-self: center;
  margin-top: 15px;
}